* {
	box-sizing: border-box;
}


body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.bg {
	background-image: url('https://images.pexels.com/photos/161254/snow-romantic-village-snowy-161254.jpeg?auto=compress&cs=tinysrgb&w=1920');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -30px;
	left: -30px;
	width: calc(100vw + 60px);
	height: calc(100vh + 60px);
	z-index: -1;
	filter: blur(0px);
}

.loading-text {
	color: #fff;
	font-size: 50px;
}