html {
    --clr-white: #ffffff;
    --clr-primary: hsl(259deg 64% 59%);
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 18px;
    background-color: #fafafa;
    color: #333333;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  
  body > * + * {
    margin-top: 1em;
  }
  
  header, main {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #generator {
    --paddingX: calc(.75em - 1px);
    --paddingY: calc(.5em - 1px);
    --borderR: 0.375em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.75rem;
  }
  
  input[type="text"] {
    font-size: 1em;
    background-color: var(--clr-white);
    border: 1px solid #dbdbdb;
    border-radius: var(--borderR);
    padding: var(--paddingY) var(--paddingX);
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: var(--clr-primary);
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
  }
  
  button {
    text-align: center;
    font: inherit;
    color: var(--color);
    background: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: var(--borderR);
    padding: var(--paddingY) var(--paddingX);
    margin: 0;
    display: block;
    cursor: pointer;
  }
  
  button:focus {
    outline-offset: 2px;
  }
  
  .primary-button {
    --color: var(--clr-white);
    --bgColor: var(--clr-primary);
    --borderColor: var(--clr-primary);
  }
  
  .default-button {
    --color: hsl(217deg 23% 27%);
    --bgColor: var(--clr-white);
    --borderColor: hsl(216deg 16% 84%);
  }
  
  #result {
    visibility: hidden;
    --paddingX: 6px;
    --paddingY: 2px;
    --borderR: 0.375em;
    background-color: hsl(220deg 17% 93%);
    color: #da1039;
    padding: calc(var(--paddingY) * 5) calc(var(--paddingX) * 2);
    margin-top: 1.5em;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  
  #result input {
    font-size: 1em;
    background: transparent;
    border: none;
    height: auto;
    resize: none;
    display: block;
    flex: 1;
  }