html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
    background-color: #fff;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  body::-webkit-scrollbar {
    width: 3px;
    background-color: #f7f7f7;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#0065ee), to(#0065ee), color-stop(0.6, #0065ee));
  }
  
  a{
    cursor: pointer;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 30px;
  }
  .content h1 {
    margin-top: 60px;
    text-align: center;
    color: #0065ee;
  }
  .content p {
    margin: 0 auto 30px;
    width: 700px;
    line-height: 1.8;
    text-align: center;
  }
  @media (max-width: 767px) {
    .content p {
      width: 100%;
    }
  }
  
  .contentDemo:empty {
    margin: auto;
    width: 500px;
    height: 600px;
    /* change height to see repeat-y behavior */
    background-image: radial-gradient(circle 50px at 50px 50px, lightgray 99%, transparent 0), linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);
    background-repeat: repeat-y;
    background-size: 100px 200px, 50px 200px, 150px 200px, 350px 200px, 300px 200px, 250px 200px;
    background-position: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  }
  
  .fixedSidebar.fixedSidebarRight {
    position: fixed;
    z-index: 99;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    width: 90px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarRight.active {
    right: -90px;
  }
  .fixedSidebar.fixedSidebarRight .sidebarItem {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarRight .sidebarItem:last-child {
    border-bottom: 0;
  }
  .fixedSidebar.fixedSidebarRight .sidebarItem:nth-last-child(2) {
    border-bottom: 0;
  }
  .fixedSidebar.fixedSidebarRight .sidebarItem:hover svg {
    fill: #0065ee;
  }
  .fixedSidebar.fixedSidebarRight .sidebarItem svg {
    width: 30px;
    height: 30px;
    fill: #333;
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarRight .buttonTrigger {
    position: absolute;
    top: 50%;
    right: calc(100% + -1px);
    transform: translateY(-50%);
    padding: 20px 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
    background-color: #ffffff;
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarRight .buttonTrigger svg {
    width: 20px;
    height: 20px;
    fill: #333;
    transform: rotate(180deg);
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarRight .buttonTrigger.active {
    background-color: #0065ee;
  }
  .fixedSidebar.fixedSidebarRight .buttonTrigger.active svg {
    fill: #fff;
    transform: rotate(0);
  }
  .fixedSidebar.fixedSidebarRight [data-tooltip]::after {
    content: attr(data-tooltip);
    display: block;
    padding: 7px 5px 0 5px;
    color: #333;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .fixedSidebar.fixedSidebarRight [data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
  }
  .fixedSidebar.fixedSidebarLeft {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarLeft.active {
    left: -75px;
  }
  .fixedSidebar.fixedSidebarLeft .sidebarItem {
    position: relative;
    z-index: 10;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 5px;
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarLeft .sidebarItem:hover svg {
    fill: #0065ee;
  }
  .fixedSidebar.fixedSidebarLeft .sidebarItem svg {
    width: 30px;
    height: 30px;
    fill: #555;
  }
  .fixedSidebar.fixedSidebarLeft .buttonTrigger {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 20px 5px;
  }
  .fixedSidebar.fixedSidebarLeft .buttonTrigger:hover svg {
    fill: #0065ee;
  }
  .fixedSidebar.fixedSidebarLeft .buttonTrigger svg {
    width: 20px;
    height: 20px;
    fill: #333;
    transform: rotate(0deg);
    transition: 0.25s;
  }
  .fixedSidebar.fixedSidebarLeft .buttonTrigger.active {
    position: absolute;
    left: 100%;
    bottom: 0;
    width: auto;
    background-color: #0065ee;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .fixedSidebar.fixedSidebarLeft .buttonTrigger.active:before {
    content: "Show";
  }
  .fixedSidebar.fixedSidebarLeft .buttonTrigger.active svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    transform: rotate(180deg);
  }
  .fixedSidebar.fixedSidebarLeft [data-tooltip]::before {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  .fixedSidebar.fixedSidebarLeft [data-tooltip]:hover::before {
    left: calc(100% + 10px);
  }
  .fixedSidebar.fixedSidebarLeft [data-tooltip] {
    position: relative;
    z-index: 9;
  }
  .fixedSidebar.fixedSidebarLeft [data-tooltip]::before {
    position: absolute;
    content: attr(data-tooltip);
    display: block;
    padding: 7px;
    text-align: center;
    font-size: 0.8em;
    white-space: nowrap;
    color: #fff;
    border-radius: 5px;
    background: #0065ee;
    opacity: 0;
    visibility: hidden;
    cursor: default;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
  .fixedSidebar.fixedSidebarLeft [data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



.right-sidebar{
	width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
	overflow: scroll;
	overflow-x: hidden;
    top: 0;
    right: -300px;
    z-index: 999;
	text-align:center;
	padding:10px;
    background: #000000;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.switcher-icon{
	width: 40px;
    height: 40px;
	line-height:40px;
    background: #000;
	text-align:center;
	font-size:22px;
	color:#fff;
	cursor: pointer;
    display: inline-block;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    position: fixed;
    right: 0;
    top: 15rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.right-sidebar.right-toggled{
	right: 0px;
}
.right-sidebar.right-toggled .switcher-icon{
	right: 260px;
}

.bg-theme{
     background-size: 100% 100%;
     background-attachment: fixed;
     background-position: center;
	 background-repeat: no-repeat;
     transition: background .3s;
}

.switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 20px;
}
.switcher li {
  float: left;
  width: 85px;
  height: 75px;
  margin: 0 15px 15px 0px;
  border-radius: 4px;
  border: 0px solid black;
}

.label {
  color: #ffffff;
}

.design_radio_nav_color {
    transform: scale(2.0); /* Aumenta el tamaño 1.5 veces */
    margin: 10px; /* Ajusta el margen para evitar solapamientos */
    cursor: pointer;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  display: block;
  user-select: none;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: #5372F0;
}

.card-list .card-link .card-image {  
  width: 75%;
  aspect-ratio: 16 / 9;
  object-fit: cover;   
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #5372F0;
  padding: 8px 16px;
  font-size: 0.65rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #DDE4FF;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372F0;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button {
  background: #5372F0;
  color: #fff;
}



